type hal_citsensorservice_xiaomi_default, domain;

# Allow to use wakelock
wakelock_use(hal_citsensorservice_xiaomi_default)

allow hal_citsensorservice_xiaomi_default ion_device : chr_file {read open ioctl};
allow hal_citsensorservice_xiaomi_default sysfs_graphics : dir {search};
